apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: master-storage
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      filesystems:
        - device: /dev/mapper/root
          format: xfs
          label: root
          wipeFilesystem: true
      luks:
        - clevis:
            tang:
              - thumbprint: FRDoRSaRJUknVY01ToPu-DSWVC0
                url: http://192.168.100.210:80	
              - thumbprint: 8oLBQpl4R94HQRyVL5xhB-KQ9aM
                url: http://192.168.100.20:80
              - thumbprint: 8kQLnd23vDK5GYOcAU8UsR9AIOo
                url: http://192.168.100.73:80	
            threshold: 1
          device: /dev/disk/by-partlabel/root
          label: luks-root
          name: root
          options:
            - --cipher
            - aes-cbc-essiv:sha256
          wipeVolume: true
  fips: true


