apiVersion: operator.openshift.io/v1
kind: Network
metadata:
  name: cluster
spec: 
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: {{ cluster_network_hostprefix }}
  serviceNetwork:
  - {{ service_network }}
  defaultNetwork:
    type: {{ cni_network_provider }}
{% if cni_network_provider == "OVNKubernetes" %}
    ovnKubernetesConfig:
{% else %}
    openshiftSDNConfig:
{% endif %}
      mtu: {{ cni_network_mtu }}
