apiVersion: operator.openshift.io/v1
kind: Network
metadata:
  name: cluster
spec: 
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16
  defaultNetwork:
    type: {{ cni_network_provider }}
{% if cni_network_provider == "OVNKubernetes" %}
    ovnKubernetesConfig:
{% else %}
    openshiftSDNConfig:
{% endif %}
      mtu: {{ cni_network_mtu }}
