apiVersion: v1
baseDomain: {{ install_config.cluster_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ master_count }}
metadata:
  creationTimestamp: null
  name: {{ install_config.cluster_id }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
sshKey: '{{ install_config.public_ssh_key }}'
{% if enable_local_registry %}
pullSecret: '{{ lookup('file', '~/.openshift/pull-secret-updated') }}'
additionalTrustBundle: |
{{ lookup('file', '/opt/registry/certs/domain.crt') | indent(2, first=True) }}
imageContentSources:
- mirrors:
  - registry.{{ install_config.cluster_id }}.{{ install_config.cluster_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.{{ install_config.cluster_id }}.{{ install_config.cluster_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% else %}
pullSecret: '{{ install_config.pull_secret }}'
{% endif %}
{% if proxy_url != "" %}
proxy:
  httpProxy: {{ proxy_url }}
  httpsProxy: {{ proxy_url }}
  noProxy: {{ install_config.cluster_domain }},10.128.0.0/14,172.30.0.0/16,{{ no_proxy }}
{% endif %}
